.materia { 
    border-style: dashed;
    border-width: 4px; 
    padding: 0.1em;
    width: 100px;
    height: 6em;
    margin: 10px;
    font-size: 0.8em;
}

.materia_compartida{
    border-color: brown
}

.semestre{
    display: flex;
}