.materia { 
    border-style: solid;
    border-width: 1px; 
    padding: 0.1em;
    flex: 0 0 80px;
    margin: 0px;
    font-size: 0.8em;
}

.carrera-container{
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

.materia_compartida{
    border-color: brown
}

.semestre{
    display: flex;
}

.haha{
    border-color: white;
}